# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
*.bin
.flutter-plugins*

# IDE files
.DS_Store
.atom/
.vscode/
.idea/
.gradle/

# Key properties
uni/android/key.properties
**.jks
