# --- Gradle / Kotlin / Android ---
.gradle/
.kotlin/
build/
*/build/
local.properties
.idea/
*.iml
*.hprof
captures/
.cxx/
.externalNativeBuild/

# --- Android signing ---
*.jks
*.keystore
key.properties
keystore.properties

# --- Xcode / iOS ---
iosApp/**/build/
iosApp/**/DerivedData/
iosApp/**/*.xcuserstate
iosApp/**/xcuserdata/
iosApp/**/*.xcworkspace/xcuserdata/
iosApp/**/Pods/
iosApp/**/*.ipa
iosApp/**/*.dSYM.zip
iosApp/**/*.dSYM
.build/

# --- iOS signing / certificates ---
*.p12
*.cer
*.mobileprovision
*.certSigningRequest
*.pem
iosApp/**/Local.xcconfig

# --- Kotlin/Native / KMP ---
*.kotlin_module
kotlin-js-store/

# --- macOS ---
.DS_Store

# --- Firebase (se vierem a usar) ---
google-services.json
GoogleService-Info.plist

# --- Fastlane (se vierem a usar) ---
iosApp/**/fastlane/report.xml
iosApp/**/fastlane/Preview.html
iosApp/**/fastlane/screenshots/**/*.png
iosApp/**/fastlane/test_output
local.properties
