# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
*.bin

app_feup/pubspec.lock
.DS_Store
.atom/
.vscode/

# Key properties
app_feup/android/key.properties
**.jks
