on:
  push:
    branches:
      - master
      - develop
      - feature/bump-pubspec-version-automatically

jobs:
  bump_version:
    name: "Bump pubspec version"
    runs-on: ubuntu-latest
    env:
      APP_VERSION_PATH: "app_feup/app_version.txt"
      PUBSPEC_PATH: "app_feup/pubspec.yaml"
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.NIAEFEUPBOT_PAT }}
          fetch-depth: 2

      - name: Ensure app_version was not changed manually or was created just now
        run: |
          (! git cat-file -e ${{ github.ref_name }}^:${{ env.APP_VERSION_PATH }} && git cat-file -e HEAD:${{env.APP_VERSION_PATH}}) || git diff --quiet ${{ github.ref_name }}^:${{ env.APP_VERSION_PATH }} HEAD:${{ env.APP_VERSION_PATH }} || exit 1

      - name: Bump flutter patch version (Debug)
        if: github.ref == 'refs/heads/feature/bump-pubspec-version-automatically'
        run: perl -i -pe 's/^(\d+\.\d+\.)(\d+)$/$1.($2+1)/e' ${{ env.APP_VERSION_PATH }}

      - name: Bump flutter patch version
        if: github.ref == 'refs/heads/develop'
        run: perl -i -pe 's/^(\d+\.\d+\.)(\d+)$/$1.($2+1)/e' ${{ env.APP_VERSION_PATH }}

      - name: Bump flutter minor version
        if: github.ref == 'refs/heads/master'
        run: perl -i -pe 's/^(\d+\.)(\d+)(\.\d+)$/$1.($2+1).(".".0)/e' ${{ env.APP_VERSION_PATH }}

      - name: Copy app version to pubspec
        run: cat ${{ env.APP_VERSION_PATH }} | perl -i -pe 's/^(version:\s+)(\d+\.\d+\.\d+)$/$1.(<STDIN>)/e' ${{ env.PUBSPEC_PATH }}

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Bump app version [no ci]"

  build:
    name: "Build App Bundle"
    runs-on: ubuntu-latest
    needs: [bump_version]
    env:
      PROPERTIES_PATH: "android/key.properties"
      JAVA_VERSION: "11.x"
      FLUTTER_VERSION: "2.0.1"
    defaults:
      run:
        working-directory: ./app_feup
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{env.JAVA_VERSION}}
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{env.FLUTTER_VERSION}}

      - name: Setup production environment
        run: |
          mkdir -p assets/env
          rm -f -- assets/env/env.json
          touch assets/env/env.json
          echo "{{ secrets.PRODUCTION_ENV_JSON }}" >> assets/env/env.json

      - name: Download Android keystore
        run: echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 --decode > /tmp/key.jks

      - name: Create key.properties
        run: |
          rm -f -- ${{env.PROPERTIES_PATH}}
          touch ${{env.PROPERTIES_PATH}}
          echo "storeFile=/tmp/key.jks" >> ${{env.PROPERTIES_PATH}}
          echo "storePassword=${{ secrets.ANDROID_KEYSTORE_PASSWORD }}" >> ${{env.PROPERTIES_PATH}}
          echo "keyPassword=${{ secrets.ANDROID_KEY_PASSWORD }}" >> ${{env.PROPERTIES_PATH}}
          echo "keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}" >> ${{env.PROPERTIES_PATH}}

      - name: Build Android App Bundle
        run: |
          flutter pub get
          flutter build appbundle

      - name: Upload App Bundle
        uses: actions/upload-artifact@v2
        with:
          name: appbundle
          if-no-files-found: error
          path: app_feup/build/app/outputs/bundle/release/app-release.aab

  deploy_play_store:
    name: "Deploy to Google Play Store"
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - name: Get App Bundle
        uses: actions/download-artifact@v2
        with:
          name: appbundle

      - name: Release app to internal track
        if: github.ref == 'refs/heads/develop'
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          packageName: ${{ secrets.ANDROID_PACKAGE_NAME }}
          releaseFiles: app-release.aab
          track: internal
          status: completed

      - name: Release app to beta track
        if: github.ref == 'refs/heads/develop'
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          packageName: ${{ secrets.ANDROID_PACKAGE_NAME }}
          releaseFiles: app-release.aab
          track: beta
          status: completed

      - name: Release app to production track
        if: github.ref == 'refs/heads/master'
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          packageName: ${{ secrets.ANDROID_PACKAGE_NAME }}
          releaseFiles: app-release.aab
          whatsNewDirectory: whatsnew
          track: production
          status: completed
