name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      lane:
        required: true
        type: string
    secrets:
      NIAEFEUPBOT_PAT:
        required: true
      
      IOS_P12_BASE64:
        required: true
      IOS_P12_PASSWORD:
        required: true
      IOS_PROVISIONING_PROFILE_BASE64:
        required: true
      IOS_BUNDLE_ID:
        required: true
      APP_STORE_CONNECT_API_KEY_KEY_ID:
        required: true
      APP_STORE_CONNECT_API_KEY_ISSUER_ID:
        required: true
      APP_STORE_CONNECT_API_KEY_CONTENT:
        required: true
      
      GOOGLE_SERVICE_ACCOUNT_JSON:
        required: true
      ANDROID_KEYSTORE_BASE64: 
        required: true
      ANDROID_KEYSTORE_PASSWORD:
        required: true
      ANDROID_KEY_ALIAS:
        required: true
      ANDROID_KEY_PASSWORD:
        required: true

jobs:
  deploy:
    name: Deploy to ${{ inputs.lane }}
    runs-on: macos-latest
    environment: ${{ inputs.environment }}
    timeout-minutes: 45
    defaults:
      run:
        working-directory: ./packages/uni_app

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
          working-directory: ./packages/uni_app

      - name: Dependencies
        run: flutter pub get

      - name: Cache iOS Pods
        uses: actions/cache@v3
        with:
          path: packages/uni_app/ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('packages/uni_app/ios/Podfile.lock') }}
          restore-keys: ${{ runner.os }}-pods-
      
      - name: Setup Android Signing
        env:
          ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
        run: |
          echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > android/app/upload-keystore.jks
        
          echo "storePassword=$ANDROID_KEYSTORE_PASSWORD" > android/key.properties
          echo "keyPassword=$ANDROID_KEY_PASSWORD" >> android/key.properties
          echo "keyAlias=$ANDROID_KEY_ALIAS" >> android/key.properties
          echo "storeFile=upload-keystore.jks" >> android/key.properties
        
          echo "$GOOGLE_SERVICE_ACCOUNT_JSON" > android/fastlane/api.json

      - name: Setup iOS Signing
        env:
          P12_BASE64: ${{ secrets.IOS_P12_BASE64 }}
          PROFILE_BASE64: ${{ secrets.IOS_PROVISIONING_PROFILE_BASE64 }}
        run: |
          mkdir -p ios/certs
          echo "$P12_BASE64" | base64 --decode > ios/certs/distribution.p12
          echo "$PROFILE_BASE64" | base64 --decode > ios/certs/app.mobileprovision
      
      - name: Deploy
        env:
          IOS_P12_PATH: "certs/distribution.p12"
          IOS_P12_PASSWORD: ${{ secrets.IOS_P12_PASSWORD }}
          IOS_PROFILE_PATH: "certs/app.mobileprovision"
          APP_BUNDLE_ID: ${{ secrets.IOS_BUNDLE_ID }}
          
          ASC_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          ASC_KEY_CONTENT: ${{ secrets.APP_STORE_CONNECT_API_KEY_CONTENT }}
        run: |
          cd android
          bundle exec fastlane ${{ inputs.lane }} &
          PID_ANDROID=$!

          cd ../ios
          bundle exec fastlane ${{ inputs.lane }} &
          PID_IOS=$!
          
          wait $PID_ANDROID
          ANDROID_STATUS=$?

          wait $PID_IOS
          IOS_STATUS=$?

          if [ $ANDROID_STATUS -ne 0 ] || [ $IOS_STATUS -ne 0 ]; then
            echo "One or more deployments failed."
            exit 1
          fi