on: pull_request

env:
  FLUTTER_VERSION: 3.7.2
  JAVA_VERSION: 11.x

jobs:
  format:
    name: 'Format'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./uni
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - run: dart format . --set-exit-if-changed

  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    needs: format
    defaults:
      run:
        working-directory: ./uni
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.FLUTTER_VERSION }}
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Cache pub dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.FLUTTER_HOME }}/.pub-cache
          key: ${{ runner.os }}-pub-${{ github.ref }}-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-pub-${{ github.ref }}-

      - run: flutter analyze .

  test:
    name: 'Test'
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: ./uni
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.FLUTTER_VERSION }}
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - run: flutter test --no-sound-null-safety
